<div>
  <p style="margin-top: 10px">
    {{ displayData['tobaccoUsage.msg1'] || 'Default - Tell us about the tobacco usage of each covered family member' }}
  </p>
  <hr/>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div *ngFor="let dependent of dependents; let i = index">
        <div *ngIf="dependent.covered" class="form-group">
          <label>Does {{ dependent.firstName }} use tobacco?</label>
          <select class="form-control" name="tobaccoUsage-{{ i }}" [(ngModel)]="tobaccoUsage[i]">
            <option *ngFor="let opt of tobaccoUsageOptions" [value]="opt.value">
                          {{ opt.name }}
            </option>
            <!--<option value="No">No</option>
            <option value="Yes">Yes</option> -->
          </select>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success form-control" type="submit">{{ displayData['tobaccoUsage.nextButton'] || 'Default - Next' }}</button>
        <router-outlet></router-outlet>
      </div>
  </form>
  <br />  
</div>