<div>
  <p>Add your dependent's information</p>
  <input type="text" placeholder="First Name" [(ngModel)]="firstName"/>
  <input type="text" placeholder="Middle Name" [(ngModel)]="middleName"/>
  <input type="text" placeholder="Last Name" [(ngModel)]="lastName"/>
  <input type="text" placeholder="Suffix (example: Sr, Jr, III)" [(ngModel)]="suffix"/>
  <input type="text" placeholder="Socail Security Number" [(ngModel)]="ssn"/>
  <button class="btn btn-default" (click)="onAddDependent()">Add dependent</button>
</div>
