<div>
  {{ dispalyData | async }}
  <h4>{{ displayData['home.greeting'] || 'Default - Hello'}}, Maria</h4>
  <p>
    {{ displayData['home.welcome'] || 'Default - Welcome to your annual enrollment' }}
  </p>
  
  <span>Calendar Icon</span> <br/>{{ displayData['home.msg1'] || 'Default - Enrollment is open until 12/31/2017'}}

  <!-- <<button class="btn btn-success" (click)="getStarted()">Get Started</button>
  <router-outlet></router-outlet>-->
  <div style="margin-top: 10px">
  <a class="btn btn-success form-control" routerLink="/msgs">{{ displayData['home.nextButton'] || 'Default - Get Started' }}</a>
  <router-outlet></router-outlet>
</div>

</div>
