<div>
  Maria, will you be covering anyone other than yourself for health plans (Medical, Dental or Vision)?
  <br />
  Plan costs are based on whom you choose to cover.
  <br />
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div *ngFor="let dependent of dependents; let i = index">
      <button class="btn" ngClass="{{ dependent.covered ? 'btn-success' : 'btn-default' }}" (click)="toggleDependents([i])" type="button" >{{ dependent.firstName }}&nbsp;{{ dependent.lastName }}</button>
      <br /><br />
    </div>
    <br />
    <button class="btn" (click)="addDependent()">Add Spouse or Dependent</button>
    <br /><br />
    <button class="btn btn-success" type="submit">Next</button>
    <router-outlet></router-outlet>
  </form>
</div>
